body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom left, #e536ab, #CEC9C7, #5C03BC);
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(235, 219, 219, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 15px 2px #3a2b6f;
  }
  
  #forma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    background: #ffffff2c;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #3a2b6f;
    box-shadow: 2px 2px 10px 2px #3a2b6f;
    width: 200px;
    color: #3a2b6f;
    margin-bottom: 10px;
  }
  
  input:hover, 
  button:hover {
    border: 2px solid #9400FF;
    box-shadow: 2px 2px 10px 2px #9400FF;
    color: #9400FF;
  }
  
  button {
    background: #ffffff2c;
    color: #5C03BC;
    border: 1px solid #3a2b6f;
    box-shadow: 2px 2px 10px 2px #3a2b6f;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 15px;
  }
  
  
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    
    border: 3px solid #e536abb4;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background: #79e0ee4d;
  }
  
  td {
    background: #620c9f63;
    color: white;
  }
  